$color-primary: #3F51B5;
$color-accent: #FF4081;
$color-navbar-url: #C5CAE9;
$color-text-light   : #FCFCFC;
$color-text-dark	: #404040;
$light-background	: #f3f3f3;
$dark-background	: #404040;

$font-sans: Open Sans;

$navbar-height-top-area: 64px;
$navbar-height-details-page: 128px;

 