<div>		
	<div class="row">
		<h3>Tasks<h5>Gotta finish 'em all</h5></h3>
		<br>
	</div>

	<div class="row">
	  <div data-alert class="alert-box success radius columns small-12" id="success">
	  </div>
	</div>

	<div class="row">
	  <div data-alert class="alert-box alert radius columns small-12" id="error">
	  </div>
	</div>

  <div class="row">
			<div class="small-3 columns">
			      <label>Sort by
			        <select ng-model="sort">
			          <option value="name">Name</option>
			          <option value="assignedUserName">Assigned User</option>
			          <option value="deadline">Deadline</option>
			          <option value="dateCreated">Date Created</option>
			        </select>
			      </label>
			    </div>
			  <div class="small-2 columns">
			  <label>Order</label>
			  	<input type="radio" ng-model="sortOrder" name="sortOrder" id="ascending" checked><label for="ascending">Asc</label>
			  	<input type="radio" ng-model="sortOrder" name="sortOrder" value="reverse" id="descending"><label for="descending">Desc</label>
			  </div>

			<div class="small-4 columns">
			      <label>Show</label>
			      <input type="radio" name="filter" ng-click="query.completed = 'false'" id="pending"><label for="pending">Pending</label>
			      <input type="radio" name="filter" ng-click="query.completed = 'true'" id="complete"><label for="complete">Complete</label>
			      <input type="radio" name="filter" ng-click="query.completed = ''" id="all" checked=""><label for="all">All</label>
			    </div>

    <h5><a class="columns small-2 small-offset-1" href="#/tasks/new"><i class="fa fa-plus"></i> Add task</a></h5>
    <br><hr>
  </div>

  <div class="row" id="loading">
    <svg class="spinner small-2 small-offset-5 columns" width="65px" height="65px" viewBox="0 0 66 66">
       <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
    </svg>
  </div>

  <section ng-repeat="task in tasks | filter: query | orderBy: sort:sortOrder">
    <div class="row" id="task-{{task._id}}">
      <a href="#/tasks/info/{{task._id}}" class="columns small-5">{{task.name}}</a>
      <span class="columns small-2"><i class="fa fa-calendar-o"></i>{{task.deadline | date: 'mediumDate'}}</span>
      <span class="columns small-3"><i class="fa fa-user"></i>{{task.assignedUserName}}</span>
      <a class="columns small-2 accent" ng-click="delete(task._id)"><i class="fa fa-minus-circle"></i> Delete</a>
      <br><hr>
    </div>
  </section>


</div>

